#game {
    margin: 30px;
	cursor:pointer;
}

#menu {
    margin-left: 30px;
    margin-top: -25px;
    display: flex;
}

#menu > * {
    margin: 0px 5px;
    align-self: center;
    float: left;
}

body {
	background-color: #010;
}

#dark {
    display: table;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

#mid {
    display: table-cell;
    vertical-align: middle;
}

#info {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: white;
    border: black solid 1px;
}

#info div {
    margin: 20px;
    width: 100%;
}

#info div textarea,
#info div select {
    width: 95%;
}

#info button {
    margin: 5px 200px;
}

/*w3school switch*/
.switchDiv {
    display: flex;
}

.switchDiv > * {
    align-self: center;
    margin: 0px 5px;
}

.switchDiv > p {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3px;
} 

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}