#game {
    margin: 30px;
	cursor: pointer;
}

#menu {
    margin-left: 30px;
    margin-top: -25px;
    display: flex;
}

#menu > * {
    margin: 0px 5px;
    align-self: center;
    float: left;
}

body {
	background-color: #010;
}

#dark {
    display: table;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#mid {
    display: table-cell;
    vertical-align: middle;
}

#info {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: white;
    border: black solid 1px;
}

#info div {
    margin: 20px;
    width: 90%;
}

#info button {
    margin: 5px 140px;
}

button {
    cursor: pointer;
}